.panel {
  width: 100%;
}

.panel-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.button-container {
  composes: panel;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cv {
  margin-top: 0.5rem;
  min-height: 800px;
  composes: panel;
  border: 1px solid black;
}

.cv-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 2rem;
  background-color:aliceblue;
}

.cv-middle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.cv-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cv-item {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 1rem;
}

.cv-item-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}