.panel {
  width: 100%;
}

.panel-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.button-container {
  composes: panel;
  display: flex;
  justify-content: center;
  gap: 1rem;
}